################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ShipShooting/.vs/ShipShooting_2010/v16
/ShipShooting/x64
/ShipShooting2/.vs/ShipShooting2_2010/v16
/ShipShooting2/x64
